  <%= form_with model: @lesson do |f| %>
    <p>タイトル<%= f.text_field :title %></p>
    <p>説明<%= f.text_area :explain %></p>
    <p>料金<%= f.number_field :price %></p>

    <%= f.fields_for :lesson_images do |i| %>
      <%= i.file_field :image %>
    <% end %>

    <p>送信<%= f.submit %></p>
  <% end %>